body {
    background-image: url("Banner Profissional Brightway com Luz e Caminho.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.pai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(103, 169, 255, 0.683);
    width: 500px;
    height: 700px;
    display: flex;
    margin-left: 1300px;
    border-radius: 20px;
}

.filho {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.login {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

input {
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border: 1px #ccc;
    padding: 0 10px;
    font-size: 16px;
}

button {
    background-color: rgb(97, 144, 204);
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-size: 16px;
    cursor: pointer;
}