body {
    background-image: url("Banner Profissional Brightway com Luz e Caminho.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.pai {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    background-color: rgb(255, 255, 255);
    max-height: 90vh;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    padding: 20px;
    margin: 0 auto;
}


.filho {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.registro {
    color: rgb(97, 144, 204);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

input {
    border-radius: 10px;
    height: 30px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

button {
    border-radius: 10px;
    height: 60px;
    width: 300px;
    background-color: rgb(97, 144, 204);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(70, 104, 150);
}